<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minu.merong.mapper.YerinMapper">

	<select id="listData" resultType="YerinVO">
		select * from yerin
	</select>
	
	<select id="oneData" parameterType="YerinVO" resultType="YerinVO">
		select * from yerin where title = #{title}
	</select>
	
	<insert id="insertData" parameterType="YerinVO">
		insert into yerin values(#{title},#{scont},#{sname})
	</insert>
	
	<update id="updateData" parameterType="YerinVO">
		update yerin 
		set scont = #{scont},
			sname = #{sname} 
		where title = #{title}
		
	</update>
	
	<delete id="deleteData" parameterType="YerinVO">
		delete from yerin where title = #{title}
	</delete>
	
</mapper>
