<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minu.sec.mapper.MemberMapper">

	<resultMap type="AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="authority"/>
	</resultMap>


	<resultMap type="MemberVO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="password"/>
		<result property="username" column="username"/>
		<result property="regdate" column="regdate"/>
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	
	
	<select id="read" resultMap="memberMap" parameterType="string">
				select
				mem.userid, password, username, enabled, regdate, authority
				from users mem , authorities auth 
				where mem.userid = #{userid} and mem.userid = auth.userid
	</select>
	
	<insert id="insertMember" parameterType="MemberVO">
				insert into users(userid,username,password) values(#{userid},#{username},#{userpw})
	</insert>
	
	<insert id="insertAuth" parameterType="AuthVO">
				insert into authorities (userid, authority) values(#{userid},#{auth})
	</insert>

</mapper>